body#tinymce {
	color: #222526;
	font-size: 16px;
	line-height: 26px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body#tinymce a {
	color: #6a7477;
	position: relative;
	text-decoration: none;
}

body#tinymce a:before {
	transition: all 0.125s ease;
	-webkit-transition: all 0.125s ease;
	transform: translate3d(0, 4px, 0);
	-webkit-transform: translate3d(0, 4px, 0);
	border-bottom: 1px #ccc solid;
	bottom: -2px;
	content: '';
	display: inline-block;
	left: 0;
	opacity: 0;
	position: absolute;
	pointer-events: none;
	right: 0;
}

body#tinymce a:hover,
body#tinymce a:focus {
	color: #52595c;
}

body#tinymce a:hover:before,
body#tinymce a:focus:before {
	opacity: 1;
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
}

body#tinymce blockquote {
	border-left: 4px #eee solid;
	color: #6a7477;
	font-style: italic;
	margin-left: 0;
	margin-bottom: 2em;
	max-width: 640px;
	padding: 0 0 0 2em;
}

body#tinymce h1,
body#tinymce h2,
body#tinymce h3,
body#tinymce h4,
body#tinymce h5,
body#tinymce h6 {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 600;
}

body#tinymce p,
body#tinymce ol,
body#tinymce ul {
	max-width: 640px;
	padding: 0 0 2em;
}
body#tinymce p { margin: 0; }

body#tinymce p:last-child,
body#tinymce ol:last-child,
body#tinymce ul:last-child { padding-bottom: 0; }

body#tinymce ul,
body#tinymce ol {
	margin-left: 2em;
}

body#tinymce img {
	height: auto;
	margin-bottom: 2em;
	max-width: 640px;
	width: 100%;
}
body#tinymce img.supersize {
	max-width: 100%;
}

body#tinymce .wp-caption {
	background: transparent;
	border: none;
	margin: 0 0 2em;
	max-width: 100%;
	padding: 0;
	width: 100% !important;
}
body#tinymce .wp-caption img { margin-bottom: 0; }
body#tinymce .wp-caption-dd {
	color: #737b80;
	font-size: 13px;
	font-style: italic;
	line-height: 1.5;
	max-width: 640px;
	text-align: left;
}