.inner {
	display: inline-block;
	max-width: 1020px;
	padding: 0 2em;
	position: relative;
	text-align: left;
	width: 100%;

	@media (min-width: 1056px) {
		padding: 0;
	}
}

.container {
	background-color: #fff;
	display: inline-block;
	width: 100%;
}