@mixin hide-text($w, $h) {
	display: inline-block;
	width: $w;
	height: $h;
	overflow: hidden;
	text-indent: 110%;
	white-space: nowrap;
}

@mixin scaled-image($img, $size) {
	background-image: url('../img/' + $img);
	background-size: $size;
	background-repeat: no-repeat;
	background-position: center;
}