.author .container {
	border-top: 1px #eee solid;
	padding-top: 1em;
	padding-bottom: 1em;

	@media (min-width: 1024px) {
		border: none;
		padding-top: 2em;
		padding-bottom: 2em;
	}
}

.author-header {
	display: inline-block;
	width: 100%;
}

.author-author-avatar {
	border-radius: 50%;
	clear: both;
	display: inline-block;
	float: left;
	margin-right: 1em;
	width: 100px;

	@media (min-width: 1024px) {
		position: absolute;
	}
}

.author-author-name {
	clear: both;
	color: #17191a;
	display: inline-block;
	float: left;
	font-family: $open;
	font-size: 28px;
	font-weight: 600;
	margin: .33em 0 .25em;
	padding: 0;
	width: 100%;

	@media (min-width: 768px) { font-size: 32px; }
	@media (min-width: 1024px) {
		margin-left: 130px;
	}
}
.author-author-role {
	color: #777;
	display: inline-block;
	font-family: $georgia;
	float: left;
	font-style: italic;
	letter-spacing: .025em;
	width: 100%;

	@media (min-width: 1024px) { margin-left: 130px; }
}

.author-author-description {
	text-align: left;

	@media (min-width: 1024px) { margin-left: 130px; }
}

.author-author-links {
	display: inline-block;
	list-style: none;
	margin: .5em 0 0;
	padding: 1.5em 0 0;
	position: relative;

	@media (min-width: 1024px) { margin-left: 130px; }

	&:before {
		border-top: 1px #ccc solid;
		content: '';
		display: inline-block;
		left: 0;
		position: absolute;
		top: 0;
		width: 2em;
	}

	li {
		float: left;
		margin-left: -1px;
		margin-right: .25em;
	}
	a {
		@include hide-text(34px, 32px);
		@include transition(opacity .125s ease);
		opacity: .5;

		&:hover,
		&:focus { opacity: 1; }
	}
}
.author-author-site { @include scaled-image('author-site.png', 32px 32px); }
.author-author-twitter { @include scaled-image('author-twitter.png', 32px 32px); }
.author-author-dribbble { @include scaled-image('author-dribbble.png', 32px 32px); }