#comments {
	display: inline-block;
	margin: 3em 0 2em;
	padding: 0 2em;
	position: relative;
	width: 100%;

	@media (min-width: 1024px) {
		left: 50%;
		margin-left: -512px;
		max-width: none;
		padding-left: 306px;
		padding-right: 0;
		width: calc(50% + 512px);
	}
	@media (min-width: 1280px) {
		padding-left: 384px;
	}
}

#disqus_thread {
	max-width: 640px;

	@media (min-width: 1024px) {
		
	}
	@media (min-width: 1280px) {
		
	}
}

#dsq-content { display: none; }