.gridlist {
	background-color: $bgrDk;
	display: inline-block;
	padding: 0 0 2em;
	width: 100%;
}

#gridlist-content {
	display: inline-block;
	margin-bottom: 40px;
	width: 100%;

	@media (min-width: 1024px) { margin-top: 30px; }
}

#gridlist-header {
	@media (min-width: 1024px) { margin-top: 30px; }
}

#gridlist-chooser {
	display: none;

	@media (min-width: 1024px) {
		display: inline-block;
		float: right;
		list-style: none;
		margin: 13px 0;
		padding: 0;
	}

	li {
		display: inline-block;
		float: right;
		margin-left: 18px;
		width: auto;
	}
}
body.search-no-results #gridlist-chooser { display: none; }

.gridlist-chooser-item {
	@include transition(all .125s ease);
	@include hide-text(24px, 24px);
	background-color: transparent;
	border: none;
	color: darken($bgrDk, 15%);
	cursor: pointer;
	float: left;
	font-family: 'industry';
	font-size: 24px;
	line-height: 24px;
	outline: none;
	padding: 0;
	position: relative;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&:hover,
	&:focus { color: darken($bgrDk, 20%); }

	&:before {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		text-indent: 0;
		top: 0;
	}
	&.gridlist-icon-list:before { content: '\e601'; }
	&.gridlist-icon-grid:before { content: '\e600'; }

	&.gridlist-icon-active {
		color: #fff;
		cursor: default;
		opacity: 1;

		&:hover,
		&:focus { color: #fff; }
	}
}


.gridlist-article {
	@include transition(background .125s ease, opacity .25s ease);
	border-bottom: 1px #414448 solid;
	color: #8fa1b2;
	cursor: pointer;
	display: inline-block;
	opacity: 1;
	padding: 4em 0;
	text-decoration: none;
	width: 100%;

	&:hover,
	&:focus {
		background-color: #33373b;
	}

	@media (min-width: 768px) {
		padding: 6em 0 5em;
	}

	@media (min-width: 1024px) {
		&:first-child { border-top: 1px #414448 solid; }
	}

	&.invisible { opacity: 0; }
}

@media (max-width: 1023px) {
	.gridlist-article-image { background-image: none !important; }
	.gridlist-article-image-retina { background-image: none !important; }
}
@media (-webkit-max-device-pixel-ratio: 1.9), (max-resolution: 191dpi) {
	.gridlist-article-image-retina {
		background-image: none !important;
		display: none !important;
	}
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.gridlist-article-image-nonretina {
		background-image: none !important;
		display: none !important;
	}
	.gridlist-article-image-retina { display: inline-block; }
}

.gridlist-article-inner {
	display: inline-block;
	max-width: 1020px;
	padding: 0 40px;
	position: relative;
	text-align: left;
	width: 100%;

	@media (min-width: 1084px) { padding: 0; }
}

.gridlist-article-title {
	color: #fff;
	display: inline-block;
	font-family: $open;
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
	margin: 10px 0;
	width: 100%;

	@media (min-width: 768px) {
		font-size: 34px;
		line-height: 44px;
		margin: 10px 0;
		max-width: 85%;
		padding-right: 40px;
	}
}

.gridlist-article-author {
	display: inline-block;
	font-family: $proxima;
	line-height: 1.25;
	width: 100%;

	@media (min-width: 768px) {
		float: right;
		position: absolute;
		top: 45px;
		width: 15%;
	}
}

.gridlist-article-author-name {
	color: #d2d7d9;
	display: inline-block;
	float: left;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: .025em;
	margin-right: 18px;
	text-transform: uppercase;
	white-space: nowrap;

	@media (min-width: 768px) {
		margin-bottom: 2px;
		width: 100%;
	}
}
.gridlist-article-author-role {
	color: #8fa1b2;
	display: inline-block;
	float: left;
	font-family: $georgia;
	font-size: 12px;
	font-style: italic;
	letter-spacing: .025em;
	white-space: nowrap;
}

.gridlist-article-meta-date,
.gridlist-article-meta-category,
.gridlist-article-author-name,
.gridlist-article-author-role {
	@media (min-width: 768px) { font-size: 13px; }
}

#gridlist-grid {
@media (min-width: 1024px) {
	
	#gridlist-content {
		@include display(flex);
		@include flex-direction(row);
		@include flex-wrap(wrap);
		margin: 30px auto 40px;
		max-width: 1100px;
		padding: 0 40px;
	}

	$gridlistAnimVal: .0125s;

	.gridlist-expander {
		@include display(flex);
		@include flex-direction(column);
		@include flex(1 calc(33.333% - .5em));
		margin: 0 0 1em .5em;

		.gridlist-article {
			&:nth-of-type(2n-1) {
				@include flex(1 calc(50% - .5em));
				margin: 0 0 .5em;

				@include transition-delay(8 * $gridlistAnimVal);
			}
			&:nth-of-type(2n) {
				@include flex(1 calc(50% - .5em));
				margin: .5em 0 0;

				@include transition-delay(9 * $gridlistAnimVal);
			}

			&:before { padding-top: calc(100% - .5em); }
		}
	}

	.gridlist-article {
		background: #212428;
		border: none;
		border-radius: 2px;
		overflow: hidden;
		padding: 0;
		position: relative;

		&:hover,
		&:focus {
			.gridlist-article-image { @include transform(scale(1)); }
			.gridlist-article-inner:before {
				opacity: .75;
			}
			.gridlist-article-author,
			.gridlist-article-meta {
				opacity: 1;
				@include transform(scale(1));
			}
		}

		.gridlist-article-inner {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			padding: 40px;
			z-index: 1;

			&:before {
				@include transition(opacity .25s ease);
				background-color: #000;
				content: '';
				display: inline-block;
				opacity: .5;
				position: absolute;
				top: -1em;
				right: -1em;
				bottom: -1em;
				left: -1em;
				z-index: -1;
			}
		}

		.gridlist-article-image {
			@include transition(all .25s ease);
			@include backface-visibility(hidden);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			bottom: 0;
			left: 0;
			margin: 0;
			position: absolute;
			right: 0;
			top: 0;

			@include transform(scale(1.125));
		}

		.gridlist-article-title {
			color: #e1e2e5;
			float: left;
			font-family: $proxima;
			font-size: 34px;
			font-weight: 300;
			left: 40px;
			letter-spacing: .025em;
			line-height: 1.125;
			margin: 0 0 26px;
			max-height: 3.375em;
			overflow: hidden;
			position: absolute;
			top: 50%;

			@include transform(translateY(-50%));
		}

		.gridlist-article-author {
			bottom: 40px;
			color: #fff;
			font-size: 14px;
			position: absolute;
			top: auto;
		}
		.gridlist-article-author-name { font-weight: bold; }

		.gridlist-article-meta,
		.gridlist-article-author {
			@include transition(all .125s ease);
			@include transform(scale(.9));
			opacity: 0;
		}

		&:before {
			content: '';
			display: block;
			padding-top: 100%;
		}

		&:nth-child(8n-1) {
			@include flex(2 calc(66.667% - .5em));
			margin: 0 .5em 1em 0;

			@include transition-delay(7 * $gridlistAnimVal);
		}
		&:nth-child(8n-2) {
			@include flex(3 100%);
			margin: 0 0 1em;

			&:before { padding-top: 33.333%; }

			@include transition-delay(6 * $gridlistAnimVal);
		}
		&:nth-child(8n-3) {
			@include flex(1 calc(33.333% - .5em));
			margin: 0 0 1em .5em;

			@include transition-delay(5 * $gridlistAnimVal);
		}
		&:nth-child(8n-4) {
			@include flex(1 calc(33.333% - 1em));
			margin: 0 .5em 1em;

			@include transition-delay(4 * $gridlistAnimVal);
		}
		&:nth-child(8n-5) {
			@include flex(1 calc(33.333% - .5em));
			margin: 0 .5em 1em 0;

			@include transition-delay(3 * $gridlistAnimVal);
		}
		&:nth-child(8n-6) {
			@include flex(1 calc(33.333% - .5em));
			margin: 0 0 1em .5em;

			@include transition-delay(2 * $gridlistAnimVal);
		}
		&:nth-child(8n-7) {
			@include flex(2 calc(66.667% - .5em));
			margin: 0 .5em 1em 0;

			&:before { padding-top: 50%; }

			@include transition-delay(1 * $gridlistAnimVal);
		}

		&:nth-child(16n-7) {
			@include flex(1 calc(33.333% - .5em));
			margin: 0 .5em 1em 0;

			@include transition-delay(2 * $gridlistAnimVal);
		}
		&:nth-child(16n-6) {
			@include flex(2 calc(66.667% - .5em));
			margin: 0 0 1em .5em;

			&:before { padding-top: 50%; }

			@include transition-delay(1 * $gridlistAnimVal);
		}
	}
}
}

@include keyframes(rotate) { from { @include transform(rotate(0deg)); } to { @include transform(rotate(360deg)); } }
#gridlist-loadmore {
	@include transition(all .125s ease);
	background-color: transparentize(#000, .75);
	border: none;
	border-radius: 3px;
	clear: both;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: $open;
	font-size: 12px;
	line-height: 28px;
	opacity: .5;
	outline: none;
	overflow: hidden;
	padding: 12px 32px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	width: 133px;
	-webkit-backface-visibility: hidden;

	&:hover,
	&:focus { opacity: .75; }

	&:before {
		@include scaled-image('loadmore.png', 30px 24px);
		@include transition(all .125s ease);
		background-position: center;
		background-repeat: no-repeat;
		clear: both;
		content: '';
		display: inline-block;
		height: 100%;
		margin: 0 auto;
		opacity: 0;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		z-index: 100;
		@include animation-name(rotate);
		@include animation-duration(.75s);
		@include animation-timing-function(ease);
		@include animation-iteration-count(infinite);
	}

	&.rotate {
		color: transparentize(#fff, 1);
		padding: 12px 0;
		width: 52px;

		&:before {
			opacity: 1;
		}

		&:hover,
		&:focus {
			cursor: default;
			opacity: .5;
		}
	}
}

#gridlist-nada {
	background-color: transparentize(#000, .85);
	border: none;
	border-radius: 3px;
	clear: both;
	color: #aaa;
	display: inline-block;
	font-family: $open;
	font-size: 12px;
	line-height: 28px;
	opacity: .5;
	outline: none;
	overflow: hidden;
	padding: 12px 32px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
}