@each $cat, $color in $cats {
	.gridlist-#{$cat} {
		background-color: darken($color, 5%);

		#gridlist-content { border-top: 1px lighten($color, 5%) solid; }

		& + #footer { background-color: darken($color, 5%); }
		& + #footer .copyright { color: transparentize(#fff, .25); }
		&#gridlist-grid .gridlist-article-inner:before { background-color: darken($color, 35%); }

		.gridlist-chooser-item {
			color: darken($color, 15%);

			&:hover,
			&:focus { color: darken($color, 20%); }

			&.gridlist-icon-active { color: #fff; }
		}

		.gridlist-article {
			border-color: lighten($color, 5%);

			&:hover,
			&:focus { background-color: darken($color, 10%); }
		}
		.gridlist-article-meta-category { display: none; }

		.gridlist-article-meta-date,
		.gridlist-article-author-name { color: lighten($color, 25%); }
		.gridlist-article-author-role { color: darken($color, 30%); }

		@media (min-width: 1024px) {
			&#gridlist-grid {
				.gridlist-article-meta-date,
				.gridlist-article-author-name { color: lighten($color, 35%); }
				.gridlist-article-author-role { color: lighten($color, 30%); }
			}
			#gridlist-content { border-top: none; }
		}
	}
}

.gridlist .page-title {
	color: #fff;
	float: left;
	font-size: 28px;
	font-weight: 300;
	line-height: 38px;
	text-align: left;

	@media (min-width: 768px) {
		font-size: 32px;
		line-height: 42px;
	}
	@media (min-width: 1024px) {
		font-size: 40px;
		line-height: 50px;
		margin: 0;
	}
}