#header {
	background-color: #fff;
	box-shadow: 0 1px 2px transparentize(#000, .85);
	display: inline-block;
	float: left;
	position: relative;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	z-index: 1;

	@media (min-width: 768px) {
		// &:before {
		// 	background-color: #b8bfc2;
		// 	content: '';
		// 	position: absolute;
		// 	// @include scaled-image('header-bgr.png', auto 56px);
		// 	// background-position: right;
		// 	left: 0;
		// 	top: 0;
		// 	bottom: 0;
		// 	// width: 184px;
		// 	width: 174px;
		// 	z-index: 0;
		// 	opacity: .125;
		// }
	}

	@media (min-width: 1024px) {
		box-shadow: 0 1px 1px transparentize(#000, .9);
		height: 60px;
		padding: 0 0 0 60px;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 99999;

		// &:before {
		// 	// @include scaled-image('header-bgr.png', auto 60px);
		// 	// background-position: right;
		// 	// width: 232px;
		// 	width: 220px;
		// }
	}
}

#logo {
	@include transition(opacity .125s ease);
	// @include hide-text(24px, 24px);
	@include scaled-image('logo.png', 24px);
	background-position: left;
	float: left;
	margin: 1em;
	min-width: 24px;
	min-height: 24px;
	position: relative;
	z-index: 2;

	&:hover,
	&:focus {
		opacity: .5;
	}

	@media (min-width: 768px) {
		&:before {
			content: '';
			position: absolute;
			border-right: 1px transparentize(#b8bfc2, .5) solid;
			right: -18px;
			top: 0;
			bottom: 2px;
		}
	}

	@media (min-width: 1024px) {
		margin: 18px 0;

		&:hover,
		&:focus {
			opacity: 1;

			#logotype { opacity: .5; }
		}
	}
}
#logotype {
	@include hide-text(108px, 24px);
	@include scaled-image('logotype.png', 108px);
	margin-left: 32px;
	position: relative;
	top: -1px;
	float: left;
	@include transition(opacity .125s ease);

	@media (max-width: 768px) { display: none; }
}

#header-search-trigger {
	@include transition(opacity .125s ease);
	@include hide-text(56px, 56px);
	@include scaled-image('search.png', 18px);
	background-color: #fff;
	border: none;
	cursor: pointer;
	float: right;
	outline: none;
	padding: 0;

	&:hover,
	&:focus { opacity: .5; }

	@media (min-width: 1024px) {
		width: 60px;
		height: 60px;
	}
}

.header-social {
	float: right;
}
.header-social-item {
	display: inline-block;
	background-color: #eee;
	height: 56px;
	width: 56px;
	float: left;
	@include transition(all .125s ease);
	
	text-align: center;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	font-family: $proxima;
	// text-transform: uppercase;
	font-weight: 600;
	padding-top: 28px;

	&:hover,
	&:focus {
		color: #fff;
		background-position: center 25% !important;
	}

	@media (min-width: 768px) {
		padding-top: 32px;
	}

	@media (min-width: 1024px) {
		width: 60px;
		height: 60px;
	}
}
.header-twitter {
	background-color: #55acee;
	color: transparentize(#55acee, 1);
	@include scaled-image('footer-twitter.png', 32px);

	&:hover,
	&:focus { background-color: lighten(#55acee, 5%); }

	@media (min-width: 768px) {
		@include scaled-image('footer-twitter.png', 36px);
	}
}
.header-facebook {
	background-color: #3b5998;
	color: transparentize(#3b5998, 1);
	@include scaled-image('footer-facebook.png', 32px);

	&:hover,
	&:focus { background-color: lighten(#3b5998, 5%); }

	@media (min-width: 768px) {
		@include scaled-image('footer-facebook.png', 36px);
	}
}

.header-breadcrumbs {
	display: none;

	@media (min-width: 768px) {
		display: inline-block;
		float: left;
		list-style: none;
		margin: 16px 0 16px 1em;
		max-width: 80%;
		padding: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	@media (min-width: 1024px) { margin: 18px 0 18px 36px; }
}
.header-breadcrumbs-item {
	@media (min-width: 768px) {
		color: #2e3133;
		display: inline-block;
		float: left;
		font-family: $proxima;
		font-size: 13px;
		font-weight: 700;
		letter-spacing: .025em;
		line-height: 24px;
		margin-right: 12px;
		max-width: 100%;
		text-transform: uppercase;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		&:after {
			color: #b8bfc2;
			content: '/';
			font-weight: 700;
			margin-left: 12px;
		}

		&:last-child:after { display: none; }

		a {
			@include transition(color .125s ease);
			color: #b8bfc2;
			font-size: 13px;
			font-weight: 700;
			letter-spacing: .025em;
			position: relative;
			text-decoration: none;
			text-transform: uppercase;

			&:before {
				@include transition(all .125s ease);
				@include transform(translate3d(0, 4px, 0));
				border-bottom: 1px #ccc solid;
				bottom: -2px;
				content: '';
				display: inline-block;
				left: 0;
				opacity: 0;
				position: absolute;
				pointer-events: none;
				right: 0;
			}

			&:hover,
			&:focus {
				color: darken(#b8bfc2, 15%);

				&:before {
					opacity: 1;
					@include transform(translate3d(0, 0, 0));
				}
			}
		}
	}
}

// #header-social {
// 	@include transition(opacity .125s ease);
// 	display: inline-block;
// 	float: right;
// 	height: 60px;
// 	margin: 0 40px 0 0;
// 	padding: 20px 0 20px;

// 	&.js-visible { opacity: .5; }

// 	@media (max-width: 1024px) {
// 		height: 56px;
// 		padding: 18px 0;
// 		margin-right: 0;
// 	}
// }
// #twitter-widget-0 {
// 	@include transition(opacity .25s ease);
// 	margin: 0 !important;
// }
// .fb-like,
// .fb-share-button {
// 	margin: 0 0 0 10px !important;

// 	& > span { float: left; }
// }