#hero {
	display: inline-block;
	float: left;
	margin-bottom: 84px;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 1;

	&:before {
		border-bottom: 1px #dbdbdb solid;
		bottom: 0;
		left: 2em;
		right: 2em;
		content: '';
		display: inline-block;
		position: absolute;
	}

	@media (min-width: 768px) { &:before { display: none; } }
}
.hero-items {
	display: inline-block;
	width: 100%;
}
.hero-item {
	display: none;
	width: 100%;

	&:first-child { display: inline-block; }
}

.hero-images {
	background-color: $bgrDk;
	display: inline-block;
	float: left;
	height: 50%;
	min-height: 128px - 56px;
	max-height: 800px - 56px;
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 0;

	@media (min-width: 768px) { height: 66.667%; }
	@media (min-width: 1056px) {
		height: 75%;
		min-height: 128px - 66px;
		max-height: 800px - 66px;
	}
}
.hero-images-wrapper {
	display: inline-block;
	height: 100%;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;

	li {
		height: 100%;
		left: 0;
		pointer-events: none;
		position: absolute;
		opacity: 0;
		overflow: hidden;
		top: 0;
		width: 100%;
		z-index: 0;

		&.current {
			opacity: 1;
			pointer-events: auto;
			z-index: 1;
		}
	}
	.hero-image {
		background-position: center;
		background-size: cover;
		display: inline-block;
		float: left;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.hero-info {
	@include transition(height .125s ease);
	background-color: #fff;
	display: inline-block;
	padding: 2em;
	text-align: left;
	-webkit-font-smoothing: antialiased;
	width: 100%;

	@media (min-width: 768px) {
		float: left;
		margin-top: -2em;
		position: relative;
		width: 66.667%;
		z-index: 9999;
	}

	@media (min-width: 1056px) {
		float: none;
		margin-top: -65px;
		margin-right: 250px;
		padding: 50px 50px 50px 0;
		position: relative;
		width: 770px;

		&:before {
			background-color: #fff;
			content: '';
			display: inline-block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: -100%;
			right: 770px;
		}
	}
}

.hero-meta {
	@include transition(opacity .125s ease);
	margin-bottom: 16px;
}

.hero-meta-category {
	margin-right: 18px;
	white-space: nowrap;
}
.hero-meta-date { color: #949799 !important; }

.hero-title {
	@include transition(opacity .125s ease);
	color: #17191a;
	display: inline-block;
	float: left;
	font-family: $open;
	font-weight: 600;
	font-size: 28px;
	line-height: 38px;
	margin: 0;
	overflow: hidden;
	width: 100%;

	a {
		color: #17191a;
		text-decoration: none;
	}

	@media (min-width: 768px) {
		font-size: 32px;
		line-height: 42px;
	}
	@media (min-width: 1056px) {
		font-size: 40px;
		line-height: 50px;
	}
}

.hero-image-navigation {
	display: inline-block;
	left: 0;
	padding: 1em;
	position: absolute;
	top: calc(50% - 24px);
	width: 100%;
	z-index: 10000;

	button {
		@include hide-text(48px, 48px);
		@include transition(opacity .125s ease);
		background-color: transparent;
		border: none;
		cursor: pointer;
		display: inline-block;
		outline: none;
		padding: 0;

		&:hover,
		&:focus { opacity: .75; }

		&#hero-image-prev {
			@include scaled-image('arrow-white-left.png', 24px 48px);
			background-position-x: 47%;
			float: left;
		}
		&#hero-image-next {
			@include scaled-image('arrow-white-right.png', 24px 48px);
			background-position-x: 53%;
			float: right;
		}
	}

	@media (min-width: 768px) {
		display: none;
	}
}

.hero-navigation {
	display: none;

	@media (min-width: 768px) {
		display: inline-block;
		border-bottom: 1px #dbdbdb solid;
		height: 112px;
		margin: -110px 2em 0;
		max-width: 1020px;
		position: relative;
		text-align: right;
		width: calc(100% - 4em);

		button {
			@include hide-text(48px, 48px);
			background: #fff;
			border: 1px #d6d6d6 solid;
			border-radius: 50%;
			cursor: pointer;
			margin-left: 18px;
			outline: none;
			padding: 0;

			&:hover,
			&:focus { border-color: darken(#d6d6d6, 10%); }

			&#hero-prev {
				@include scaled-image('arrow-left.png', 6px 12px);
				background-position-x: 47%;
			}
			&#hero-next {
				@include scaled-image('arrow-right.png', 6px 12px);
				background-position-x: 53%;
			}
		}
	}
}

.hero-navigation-buttons {
	@include transition(bottom .125s ease);
	position: absolute;
	right: 0;
}

.fxArchive .navOutNext {
	-webkit-animation: scaleHalfDown 0.7s forwards cubic-bezier(0.7, 0, 0.3, 1);
	animation: scaleHalfDown 0.7s forwards cubic-bezier(0.7, 0, 0.3, 1);
}

.fxArchive .navInNext {
	z-index: 1001;
	opacity: 1;
	-webkit-animation: slideInFromBottom 0.7s forwards cubic-bezier(0.7, 0, 0.3, 1);
	animation: slideInFromBottom 0.7s forwards cubic-bezier(0.7, 0, 0.3, 1);
}

.fxArchive .navOutPrev {
	-webkit-animation: slideInFromBottom 0.7s reverse cubic-bezier(0.7, 0, 0.3, 1);
	animation: slideInFromBottom 0.7s reverse cubic-bezier(0.7, 0, 0.3, 1);
}

.fxArchive .navInPrev {
	-webkit-animation: scaleHalfUp 0.7s forwards cubic-bezier(0.7, 0, 0.3, 1);
	animation: scaleHalfUp 0.7s forwards cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes scaleHalfDown {
	from {}
	to {
		-webkit-transform: scale(0.6);
		opacity: 0;
	}
}

@keyframes scaleHalfDown {
	from {}
	to {
		-webkit-transform: scale(0.6);
		transform: scale(0.6);
		opacity: 0;
	}
}

@-webkit-keyframes slideOutToBottom {
	from {}
	to {
		-webkit-transform: translateY(100%);
	}
}

@keyframes slideOutToBottom {
	from {}
	to {
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}
}

@-webkit-keyframes slideInFromBottom {
	from {
		-webkit-transform: translateX(100%);
	}
	to {
		-webkit-transform: translateX(0);
	}
}

@keyframes slideInFromBottom {
	from {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	to {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@-webkit-keyframes scaleHalfUp {
	from {
		opacity: 0;
		-webkit-transform: scale(0.6);
	}
	to {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}

@keyframes scaleHalfUp {
	from {
		opacity: 0;
		-webkit-transform: scale(0.6);
		transform: scale(0.6);
	}
	to {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}