.main-group {
	display: inline-block;
	margin-bottom: 100px;
	width: 100%;
	-webkit-font-smoothing: antialiased;
}

.main-group-title {
	float: left;
	font-family: $proxima;
	font-size: 13px;
	letter-spacing: .025em;
	line-height: 13px;
	margin: 0 0 26px;
	text-transform: uppercase;
}
.main-group-more {
	@include transition(color .125s ease);
	color: #aaaaaa;
	float: right;
	font-family: $proxima;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: .025em;
	line-height: 13px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;

	&:before {
		@include transition(all .125s ease);
		@include transform(translate3d(0, 4px, 0));
		border-bottom: 1px #ccc solid;
		bottom: -2px;
		content: '';
		display: inline-block;
		left: 0;
		opacity: 0;
		position: absolute;
		right: 0;
	}

	&:hover,
	&:focus {
		color: darken(#aaa, 15%);

		&:before {
			opacity: 1;
			@include transform(translate3d(0, 0, 0));
		}
	}
}

.main-group-items {
	@include display(flex);
	@include flex-direction(column);
	@include flex-wrap(wrap);
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;

	@media (min-width: 480px) { @include flex-direction(row); }
}

.main-group-item {
	margin: 0 auto 4px;
	overflow: hidden;
	position: relative;

	@media (min-width: 1024px) {
		&:hover,
		&:focus {
			.main-group-item-image {
				@include transform(scale(1));
			}
			a:before { opacity: .75; }
		}
	}
}

.main-group-item a {
	display: inline-block;
	float: left;
	overflow: hidden;
	padding: 4em 2em;
	position: relative;
	text-decoration: none;
	text-shadow: 0 1px 1px transparentize(#14171a, .4);
	width: 100%;
	z-index: 1;

	&:before {
		@include transition(opacity .25s ease);
		background-color: #000;
		content: '';
		display: inline-block;
		opacity: .75;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;

		@media (min-width: 1024px) { opacity: .25; }
	}

	@media (min-width: 768px) {
		height: 360px;
		padding: 10em 2em 0;
	}
}

.main-group-item-image {
	@include transition(all .25s ease);
	@include backface-visibility(hidden);
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 0;
	left: 0;
	margin: 0;
	position: absolute;
	right: 0;
	top: 0;

	@media (min-width: 1024px) {
		@include transform(scale(1.125));
	}
}

.main-group-4 .main-group-item {
	text-align: center;
	width: 100%;

	@media (min-width: 480px) {
		width: calc(50% - 3px);
	}

	@media (min-width: 768px) { width: calc(25% - 3px); }

	@media (min-width: 1024px) {
		&:hover,
		&:focus {
			.main-group-4-title { @include transform(translateY(0)); }
			.main-group-4-subtitle,
			.main-group-4-meta-date { opacity: 1; }
		}
	}

	.main-group-item-image { background-position: center 25%; }
}

.main-group-4-title {
	color: #fff;
	display: inline-block;
	font-family: $proxima;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: .025em;
	line-height: 1;
	margin-bottom: 4px;
	position: relative;
	text-transform: uppercase;
	width: 100%;

	@media (min-width: 1024px) {
		@include transition(all .125s ease);
		@include transform(translateY(7px));
	}
}
.main-group-4-subtitle {
	color: #d2d7d9;
	display: inline-block;
	font-family: $georgia;
	font-size: 14px;
	font-style: italic;
	line-height: 1.125;
	width: 100%;

	@media (min-width: 1024px) {
		@include transition(opacity .125s ease);
		opacity: 0;
	}
}

.main-group-4-meta-date,
.main-group-5-meta-date {
	bottom: 2em;
	left: 0;
	right: 0;
	font-family: $proxima;
	opacity: 0;
	position: absolute;
	text-align: center;
	width: 100%;

	@media (min-width: 1024px) {
		@include transition(opacity .125s ease);
		opacity: 0;
	}
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.main-group-item-image-nonretina {
		background-image: none !important;
		display: none !important;
	}
}
@media (-webkit-max-device-pixel-ratio: 1.9), (max-resolution: 191dpi) {
	.main-group-item-image-retina {
		background-image: none !important;
		display: none !important;
	}
}

.main-group-5 .main-group-item {
	font-family: $proxima;
	width: 100%;

	.main-group-item-image { background-position: center; }

	@media (min-width: 1024px) {
		a { padding: 0 2em; }

		&:hover,
		&:focus {
			.main-group-5-meta,
			.main-group-5-meta-date {
				@include transform(translateY(0));
				opacity: 1;
			}
			.main-group-5-author {
				@include transform(translateY(0));
				opacity: 1;
			}
		}
	}

	@media (min-width: 768px) {
		@include flex-basis(calc(50% - 2px));

		&:nth-of-type(5n-3),
		&:nth-of-type(5n-1) { margin-right: 2px; }
		&:nth-of-type(5n-2),
		&:nth-of-type(5n) { margin-left: 2px; }

		&:first-of-type {
			margin: 0 0 4px;
			@include flex(2 100%);
		}
	}

	@media (min-width: 1024px) {
		@include flex-basis(calc(33.333% - 2.666666667px));

		&:first-of-type {
			margin: 0 2px 4px 0;
			@include flex(1.5 calc(66.667% - 2px));
		}
		&:nth-of-type(5n-3),
		&:nth-of-type(5n) {
			margin: 0 0 4px 2px;
		}
		&:nth-of-type(5n-2) {
			margin: 0 2px 4px 0;
		}
		&:nth-of-type(5n-1) {
			margin: 0 2px 4px;
		}
	}
}

.main-group-5-title {
	text-align: center;
	color: #fff;
	display: inline-block;
	font-family: $proxima;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: .025em;
	line-height: 1.25;
	margin-bottom: 4px;
	position: relative;
	text-transform: uppercase;
	width: 100%;

	@media (min-width: 1024px) {
		top: 50%;
		left: 0;
		right: 0;
		padding: 0 2em;
		position: absolute;
		@include transform(translateY(-50%));
	}
}