.post-nav { display: none; }

#single-header {
	@extend .inner;
	margin-bottom: 1.5em;

	@media (min-width: 1024px) {
		left: 50%;
		margin-left: -512px;
		padding-right: 40px;
		position: absolute;
//		text-align: right;
		text-align: left;
		width: 306px;
		z-index: 1;
	}

	@media (min-width: 1280px) {
		margin-left: -512px;
		width: 384px;
	}
}

.single-title {
	clear: both;
	color: #17191a;
	display: inline-block;
	float: left;
	font-family: $open;
	font-size: 28px;
	font-weight: 600;
	line-height: 38px;
	margin: 0 0 1.125em;
	overflow: hidden;
	width: 100%;

	@media (min-width: 768px) {
		font-size: 32px;
		line-height: 42px;
		margin-top: -9px;
		margin-bottom: 1em;
	}

	@media (min-width: 1024px) {
		margin-bottom: 40px;
	}
}

.single-article-meta {
	clear: both;
	float: left;
	margin-bottom: .5em;
	width: auto;

	@media (min-width: 1024px) {
		float: none;
		margin-bottom: 40px;
	}
}
.single-meta-category {
	font-size: 13px;
	font-weight: 600;
	letter-spacing: .025em;
	line-height: 13px;
	margin-right: 1em;
	position: relative;
	text-decoration: none;

	&:before {
		@include transition(all .125s ease);
		@include transform(translate3d(0, 4px, 0));
		border-bottom: 1px solid;
		bottom: -2px;
		content: '';
		display: inline-block;
		left: 0;
		opacity: 0;
		position: absolute;
		right: 0;
	}

	&:hover,
	&:focus {
		&:before {
			opacity: 1;
			@include transform(translate3d(0, 0, 0));
		}
	}
}
.single-meta-date {
	color: #ccc;
	font-size: 13px;
	line-height: 13px;
	margin-right: 1em;

	/*
	&:before {
		content: '/';
		margin-right: 1em;
	}
	*/
	&:after {
		content: '/';
		margin-left: 1em;
	}

	@media (min-width: 1024px) {
		margin-right: 0;

		&:after { display: none; }
	}
}

.article-author {
	display: inline-block;
	float: left;
	line-height: 13px;
	margin-top: 2px;
	width: auto;

	@media (min-width: 1024px) {
		float: none;
		width: 100%;
	}
}
.article-author-avatar {
	display: none;

	@media (min-width: 1024px) {
		border-radius: 50%;
		display: inline-block;
		float: right;
		margin-bottom: 1em;
		margin-left: 100%;
		width: 3em;
	}
}
.article-author-name {
	color: #aaaaaa;
	font-family: $proxima;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: .025em;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;

	&:before {
		@include transition(all .125s ease);
		@include transform(translate3d(0, 4px, 0));
		border-bottom: 1px #ccc solid;
		bottom: -2px;
		content: '';
		display: inline-block;
		left: 0;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		right: 0;
	}

	&:hover,
	&:focus {
		color: darken(#aaa, 15%);

		&:before {
			opacity: 1;
			@include transform(translate3d(0, 0, 0));
		}
	}
}
.article-author-role {
	display: none;

	@media (min-width: 1024px) {
		color: #bbb;
		display: inline-block;
		font-family: $georgia;
		font-size: 13px;
		font-style: italic;
		letter-spacing: .025em;
		margin-top: .5em;
		width: 100%;
	}
}
.author-links {
	display: none;

	@media (min-width: 1024px) {
		display: inline-block;
		list-style: none;
		margin: 1.25em 0 0;
		padding: 1em 0 0;
		position: relative;

		&:before {
			border-top: 1px #ccc solid;
			content: '';
			display: inline-block;
			position: absolute;
//			right: 0;
			left: 0;
			top: 0;
			width: 2em;
		}

		li {
			float: left;
//			margin-left: .25em;
			margin-right: .25em;
		}
		a {
			@include hide-text(26px, 26px);
			@include transition(opacity .125s ease);
			opacity: .5;

			&:hover,
			&:focus { opacity: 1; }
		}
	}
}
.author-site { @include scaled-image('author-site.png', 24px 24px); }
.author-twitter { @include scaled-image('author-twitter.png', 24px 24px); }
.author-dribbble { @include scaled-image('author-dribbble.png', 24px 24px); }