#hero-single {
	background-color: $bgrDk;
	background-position: center;
	background-size: cover;
	display: inline-block;
	float: left;
	height: 50%;
	min-height: 128px - 56px;
	max-height: 800px - 56px;
	overflow: hidden;
	position: relative;
	width: 100%;

	@media (min-width: 768px) { height: 66.667%; }
	@media (min-width: 1024px) {
		height: 75%;
		margin-bottom: 1em;
		min-height: 128px - 66px;
		max-height: 800px - 66px;
	}
}